#edit:hover {
    color:rgb(176, 112, 218);
}

#remove:hover {
    color: red;
}

#cannot-click {
    color: grey;
}

.list_item {
    display: block;
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px solid gainsboro;
}

.list_item:last-child {
    border-bottom: 0;
}

.list_item > span {
    float: right;
}

.list_item:hover {
    color: royalblue;
    background-color: aliceblue;
}

.list_item > span > button {
    background-color: transparent;
    border: none;
}

.edit_form {
    display: inline;
}

#submit {
    border: none;
    border-radius: 0.2em;
    padding: 0.25em;
    margin-left: 5px;
    background-color: rgb(176, 112, 218);
    color: white;
}
