.list {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list > h1 > span {
    float: right;
}

.list > h1 > span > button {
    background-color: white;
    border: 0;
    font-weight: bold;
    font-size: 24px;
}

.list > h1 > span > button:hover {
    border: 1px solid gainsboro;
    color: green;

}

.list-group {
    display: inline-block;
    width: 100%;
}

#instructions {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

